    * {
      box-sizing: border-box;
    }
    
    body {
      background-color: rgba(72, 163, 0, 0.07);
      font-family: 'Poppins', sans-serif;
      margin: 0;
    }
    
    .title {
      color: #4AA005;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }
    
    .title span {
      color: #5F481D;
    }
    
    main {
      margin: 20px;
    }
    
    .app-container {
      max-width: 660px;
      background-color: #FBFBFB;
      border-radius: 15px;
      padding: 16px 28px;
      margin-inline: auto;
    }
    
    .header-with-icon {
      display: flex;
      font-weight: 700;
    }
    
    .sun-icon {
      padding-left: 12px;
      vertical-align: center;
    }
    
    .progress-label {
      color: #858585;
      font-size: 12px;
      margin-top: 0.8rem;
    }
    
    .progress-bar {
      height: 24px;
      background-color: rgba(72, 163, 0, 0.1);
      border-radius: 15px;
      margin-block: 20px 16px;
    }
    
    .progress-value {
      display: flex;
      align-items: center;
      height: 100%;
      border-radius: 15px;
      background-color: #4AA005;
      overflow: hidden;
      transition: width 0.25s ease-in-out;
    }
    
    .progress-value span {
      font-size: 55%;
      padding-left: 16px;
      color: #EFFFE0;
      min-width: max-content;
    }
    
    .error-label {
      font-size: 12px;
      color: #FF5151;
      visibility: hidden;
    }
    
    .goal-container {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      display: flex;
      padding-inline: 24px 0;
      border-radius: 17px;
      align-items: center;
      margin-bottom: 2.2rem;
    }
    
    .checkbox {
      height: 20px;
      width: 20px;
      background-color: #FFF;
      border: 2px solid rgba(97, 72, 28, 0.3);
      border-radius: 50%;
      display: inline-block;
      flex-shrink: 0;
      margin-block: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .checkbox img {
      display: none;
      vertical-align: middle;
    }
    
    .completed .checkbox {
      background-color: #4AA005;
      border: 2px solid #4AA005;
    }
    
    .completed img {
      display: block;
    }
    
    .goal-input {
      outline: none;
      border: none;
      min-height: 100%;
      width: 100%;
      flex-grow: 1;
      padding-left: 16px;
      align-self: stretch;
      border-radius: 17px;
      font-weight: 500;
    }
    
    .goal-input::placeholder {
      color: #D9D9D9;
      font-weight: 500;
    }
    
    .completed .goal-input {
      color: #4AA005;
      text-decoration-line: line-through;
    }
    
    .quote {
      margin-block: 40px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      margin-inline: auto;
    }
    
    .creator {
      font-size: 8px;
      font-weight: 500;
      text-align: center;
      margin-inline: auto;
    }
    
    .error-label-active {
      visibility: visible;
    }
    
    @media(min-width: 768px) {
      .title {
        font-size: 64px;
      }
      
      .header-with-icon h2 {
        font-size: 32px;
      }
      
      .app-container {
        padding: 20px 44px;
      }
      
      .app-container div:nth-child(5) {
        margin-top: 20px;
      }
      
      .progress-label {
        font-size: 16px;
      }
      
      .progress-bar {
        height: 30px;
      }
      
      .progress-value span {
        font-size: 13px;
        padding-left: 20px;
      }
      
      .error-label {
        font-size: 16px;
        margin-bottom: 0;
      }
      
      .checkbox {
        height: 24px;
        width: 24px;
      }
      
      .goal-container {
        padding-inline: 32px;
        margin-block: 2.5rem;
      }
      
      .checkbox {
        margin-block: 28px;
      }
      
      .goal-input {
        padding-left: 20px;
      }
      
      .quote {
        margin-block: 64px;
      }
    }