    * {
      box-sizing: border-box;
    }
    
    body {
      background-color: #DECDAC;
      font-family: "Heebo", sans-serif;
    }
    
    .main-popup {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    
    .popup-container {
      background-color: #FEFAF3;
      padding: 42px 48px;
      max-width: 350px;
      width: 80%;
      border-radius: 20px;
      box-shadow: 0 2.81px 2.81px rgba(0, 0, 0, 0.25);
      position: relative;
    }
    
    .popup-container button {
      background-color: #EBBF53;
      padding: 12px;
      color: white;
      font-size: 1rem;
      width: 100%;
      border: none;
      border-radius: 32px;
      box-shadow: 0 2.81px 2.81px rgba(0, 0, 0, 0.25);
    }
    
    .popup-container img {
      width: 12%;
      position: absolute;
      bottom: 10%;
      max-width: 40px;
    }
    
    .popup {
      position: absolute;
      z-index: 2;
      background-color: #FEFAF3;
      width: 90%;
      max-width: 660px;
      min-height: 200px;
      padding: 22px;
      border-radius: 28px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      transform: scale(0);
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      transform-origin: center;
    }
    
    .active {
      transform: scale(1);
      opacity: 1;
    }
    
    .content {
      display: flex;
      align-items: flex-start;
    }
    
    .text {
      flex: 1;
    }
    
    .cancel {
      position: absolute;
      top: 14px;
      right: 14px;
      width: 10px;
    }
    
    .custom-popup-img {
      width: 25%;
      max-width: 220px;
      min-width: 80px;
      align-self: start;
      margin-right: 12px;
    }
    
    .popup h2 {
      font-family: "Inika", serif;
      font-weight: 400;
      margin: 0;
      text-align: right;
      display: inline-block;
    }
    
    .text p {
      font-size: 14px;
      margin-top: 6px;
      font-family: "Inika", serif;
      font-weight: 400;
    }
    
    .newsletter {
      width: 100%;
      display: flex;
      margin-top: 30px;
    }
    
    .newsletter input {
      min-width: 140px;
      padding: 12px;
      border-radius: 20px 0 0 20px;
      border: 1px solid #ccc;
      width: 80%;
      border: 1px solid rgba(175, 161, 135, 1);
      border-right: none;
      background-color: rgba(238, 232, 221, 1);
    }
    
    .newsletter input::placeholder {
      color: rgba(175, 161, 135, 1);
    }
    
    .newsletter button {
      padding: 10px 18px;
      border-radius: 0 20px 20px 0;
      border: none;
      background-color: #EBBF53;
      color: white;
      border: 1px solid rgba(175, 161, 135, 1);
      cursor: pointer;
    }
    
    .overlay {
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.25);
      transition: background-color 0.1s ease-in-out;
    }
    
    @media(min-width: 768px) {
      .popup-container img {
        width: 10%;
      }
      
      .popup-container {
        padding: 60px;
        border-radius: 28px;
      }
      
      .custom-popup-img {
        margin-top: -4.5rem;
        width: 35%;
        margin-right: 3rem;
      }
      
      .text p {
        font-size: 18px;
      }
      
      .popup {
        padding: 46px;
        border-radius: 40px;
      }
      
      .popup h2 {
        font-size: 2.5rem;
      }
      
      .cancel {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 16px;
      }
    }